<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
      Django App
    {% endblock %}
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    /* Custom Button Style */
    button.custom-button {
      background-color: #007bff; /* Blue */
      border: none;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    
    /* Hover effect */
    button.custom-button:hover {
      background-color: #0056b3; /* Darker Blue */
    }
  </style>
</head>
<body>
 

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">ANTIFE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'forumas:forumasview' %}">Forumas</a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'kraujo_tyrimai:kraujotyrview' %}">Kraujo tyrimai</a>
        </li>
        {% endif %}
        <!-- Mityba dropdown menu with Produktai and Receptai options -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="mitybaDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mityba
          </a>
          <div class="dropdown-menu" aria-labelledby="mitybaDropdown">
            <a class="dropdown-item" href="{% url 'mityba:product' %}">Produktai</a>
            <a class="dropdown-item" href="{% url 'mityba:receptai_list' %}">Receptai</a>
            {% if request.user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'mityba:valgiarastis' %}">Valgiaraštis</a>
            <a class="dropdown-item" href="{% url 'mityba:manoreceptai_list' %}">Mano Receptai</a>
            {% else %}
            {% endif %}
          </div>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'profilis:profilisview' %}">Profilis</a>
        </li>
        {% endif %}
      </ul>
      {% if request.user.is_authenticated %}
      <button type="button" class="btn btn-primary custom-button" onclick="Loguot()">Atsijungti</button>
      {% else %}
      <button type="button" class="btn btn-primary custom-button" onclick="openLogin()">Prisijungti</button>
      <button type="button" class="btn btn-primary custom-button" onclick="openRegister()">Registruotis</button>
      {% endif %}
    </div>
  </nav>
  <div class="container">{% block content %} {% endblock %}</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script>
    function openLogin() {
      // Redirect to the login page
      window.open("{% url 'login' %}", "_self");
    }
  
    function openRegister() {
      // Redirect to the register page
      window.open("{% url 'register' %}", "_self");
    }

    function Loguot() {
      // Atjungiam nuo sesijos ir perkraunam
      window.open("{% url 'logout' %}", "_self");
    }
  </script>
</body>
</html>
